<div>
     <a href="home">
        <button type="button" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
        </button>
      </a>
      <button type="button" class="btn btn-default btn-sm pull-right" id="profileMenu" dropdownToggle [disabled]="disabled" aria-haspopup="true" aria-expanded="true" aria-lable="Administraion">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
      </button>
          <!-- 
          <ul dropdownMenu role="menu" aria-labelledby="userMenu">
            <li role="menuItem"><a class="dropdown-item" href="changepassword">Change Password</a></li>
            <li role="menuitem"><a class="dropdown-item" href="contactdetails">Contact Details</a></li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem"><a class="dropdown-item" href="logout">Logout</a></li>
          </ul>
         -->
      <button type="button" class="btn btn-default btn-sm pull-right" id="adminMenu" dropdownToggle [disabled]="disabled" aria-haspopup="true" aria-expanded="true" aria-lable="Administraion">
          <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
      </button>
        <!-- 
        <ul dropdownMenu role="menu" aria-labelledby="adminMenu" [ngIf]="role=admin||role=sysadmin">
          <li role="companyadmin"><a class="dropdown-item" href="usermanagement">User Management</a></li>
          <li role="companyadmin"><a class="dropdown-item" href="companydetails">Company Details</a></li>
          <li class="divider dropdown-divider"></li>
          <li role="menuItem"><a class="dropdown-item" href="conditions">Conditions</a></li>
          <li role="menuitem"><a class="dropdown-item" href="presetconditions">Preset Conditions</a></li>
          <li role="menuitem"><a class="dropdown-item" href="vehiclelimits">Vehicle Limits</a></li>
          <li class="divider dropdown-divider"></li>
          <li role="menuitem"><a class="dropdown-item" href="map">Map</a></li>
        </ul>
         -->
      <span class="text-center">{{title}}</span>

</div>